# .gitignore

# Node modules
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Build output
**/dist/
**/build/

# Vite cache
**/.vite/s

# dotenv environment variables
**/.env
**/.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

#